<div class="evs new">
	<h2>Create Event</h2>
	<%= form_for(:ev,:url => {:action => 'create' , :id => @d}) do |f|%>
	  <table summary="Event form fields"> 
	  	<tr>
	  		<th>Name</th>
	  		<td><%= f.text_field(:name) %></td>
	  	</tr>
	  	<tr>
	  	    <th>Date</th>
	  	    <td><%= f.text_field(:date)%></td>
        </tr>
        <tr>
        	<th>Description</th>
        	<td><%=f.text_field(:description)%></td>
        </tr>
        <tr>
        	<th>Location</th>
        	<td><%=f.text_field(:location)%></td>
        </tr>
	  </table>
	  <div class="form-buttons">
	  	<%= submit_tag("Create Event")%>
	  </div>
	<% end %>  
</div>
